nexusUser=
nexusPassword=
githubUser=
githubToken=

test.bbdd.url=
test.bbdd.sid=
test.bbdd.systemUser=
test.bbdd.systemPassword=
test.bbdd.user=
test.bbdd.password=
org.gradle.daemon=false
org.gradle.jvmargs=-Dfile.encoding=UTF-8

etendoCoreVersion=
