[properties]
## Main-UI
docker_com.etendoerp.mainui=true
etendo.classic.url=http://host.docker.internal:8080/{context.name}
etendo.classic.host=https://localhost:8080/{context.name}
next.public.app.url=https://localhost:3000/
authentication.class=com.etendoerp.etendorx.auth.SWSAuthenticationManager
ws.maxInactiveInterval=3600
ui.port=3000

## Copilot
docker_com.etendoerp.copilot=true
copilot.host=localhost
copilot.port=5005
openai.api.key={openai.api.key}
etendo.host=http://localhost:8080/{context.name}
etendo.host.docker=http://host.docker.internal:8080/{context.name}

## SSO Login
sso.auth.type=Middleware
sso.middleware.url=https://sso.etendo.cloud
sso.middleware.redirectUri=http://localhost:8080/{context.name}/secureApp/LoginHandler.html
